$button-primary-color: #747b90;
$button-primary-color-dark: darken($button-primary-color, 15%);
$button-primary-color-light: lighten($button-primary-color, 50%);
$button-primary-color-hover: darken($button-primary-color, 5%);
$button-primary-color-active: darken($button-primary-color, 10%);
$button-primary-border: none;

$button-default-line-height: 16px;
