@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.scss";

body {
  @apply bg-bg-950 text-white;
  .swagger-ui {
    @apply bg-white text-black;
  }
}

.spritesheet {
  background-image: url("/spritesheet.png");
  background-size: 900% 700%;
  @apply absolute left-0 top-0 h-full w-full;
}

.section {
  padding: 9px 14px;
  border-radius: 4px;
  width: 100%;
  @apply bg-bg-900;
  ul {
    display: contents;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.buttons-list {
  @apply flex flex-col gap-[4px];
}

.material {
  padding: 0.4em 0.6em;
  border-radius: 4px;
  @apply bg-bg-800;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: small;
  text-align: center;
  .requirements-not-met {
    color: grey;
  }
  .quantity {
    font-weight: 700;
  }
}

.structure-icon {
  background-color: rgb(216, 206, 163);
  @apply spritesheet;
}
.item-icon {
  background-color: rgb(216, 190, 135);
  @apply spritesheet;
}
.plains {
  background-color: rgb(152, 185, 113);
  @apply spritesheet bg-[-400%_-300%];
}
.forest {
  background-color: rgb(45, 121, 62);
  @apply spritesheet bg-[-400%_-200%];
}
.mountains {
  background-color: rgb(216, 190, 135);
  @apply spritesheet bg-[-300%_-200%];
}
.beach {
  background-color: rgb(245, 244, 174);
  @apply spritesheet bg-[-500%_-200%];
}
.sea {
  background-color: rgb(46, 90, 119);
  @apply spritesheet bg-[-500%_-300%];
}
