body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: black;
  color: white;
}

ul.user-list {
  list-style-type: none;
  padding: 0;
  background-color: rgb(34, 44, 66);
  border-radius: 0.5em;
  max-width: 300px;
  
}

ul.user-list a {
  color: inherit;
  text-decoration: none;
}

ul.user-list a li {
  padding: 1em 1em;
  margin: 0;
}

ul.user-list a:nth-of-type(even) li {
  background-color: rgb(47, 59, 85);
}

.title {
  font-weight: bold;
}

.description {
  font-style: italic;
}

.author {
  font-size: smaller;
}

.position {
  font-size: smaller;
}

.success {
  color:rgb(152, 219, 169);
}

.failure {
  color:rgb(219, 152, 172);
}

table {
  border: 1px solid grey;
  background-color: rgb(24, 33, 71);
}

td {
  height: 2em;
  width: 2em;
  text-align: center;
  vertical-align: middle;
}

.structure-marker {
  float: right;
  font-size: smaller;
  height: inherit;
  vertical-align: top;
}

.location {
  border: 1px solid grey;
  width: 300px;
  float: right;
}
.location .tile {
  float: left;
  margin: 1em;
}

.tile {
  height: 3em;
  width: 3em;
}

.structure .tile {background-color: rgb(216, 206, 163);}
.plains {background-color: rgb(152, 185, 113);}
.forest {background-color: rgb(45, 121, 62);}
.mountains {background-color: rgb(216, 190, 135);}
.beach {
  background-color: rgb(245, 244, 174);
  color: maroon;
}
.sea {background-color: rgb(46, 90, 119);}
