body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: black;
  color: white;
}

li {
  list-style: none;
}

ul.user-list {
  list-style-type: none;
  padding: 0;
  background-color: rgb(34, 44, 66);
  border-radius: 0.5em;
  max-width: 300px;
  
}

ul.user-list a {
  color: inherit;
  text-decoration: none;
}

ul.user-list a li {
  padding: 1em 1em;
  margin: 0;
}

ul.user-list a:nth-of-type(even) li {
  background-color: rgb(47, 59, 85);
}

.title {
  font-weight: bold;
}

.description {
  font-style: italic;
}

.author {
  font-size: smaller;
}

.position {
  font-size: smaller;
}

.success {
  color:rgb(152, 219, 169);
}

.failure {
  color:rgb(219, 152, 172);
}

table {
  border: 1px solid grey;
  background-color: rgb(24, 33, 71);
}

td {
  height: 2em;
  width: 2em;
  text-align: center;
  vertical-align: middle;
}

.location {
  float: right;
}

.structure-icon {background-color: rgb(216, 206, 163);}
.plains {background-color: rgb(152, 185, 113);}
.forest {background-color: rgb(45, 121, 62);}
.mountains {background-color: rgb(216, 190, 135);}
.beach {
  background-color: rgb(245, 244, 174);
  color: maroon;
}
.sea {background-color: rgb(46, 90, 119);}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* CSS */
.button-80 {
  margin-right: .375rem;
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}
